.main {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
  }
  body{
    /*background:linear-gradient(to bottom,rgb(76, 75, 75) 10%, #fff 50%);*/
    background-color: rgb(76, 75, 75) ;
    width:100%;
    color:rgb(4, 4, 4);
    padding:20px 150px 20px 150px;
    position: relative;
    left: -20px;
    top: 122px;
  }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  .text{
    color:rgb(1, 1, 1) ;  text-shadow: 0 0 3px rgb(249, 208, 24), 0 0 5px rgb(249, 208, 24); 
    font-size: x-large;
  }
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: rgb(14, 14, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #d9db66; }
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  