
<div class="toolbar" role="banner">
  <button class="open" id="option"(click)="openNav()">&#9776;</button>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <nav>
    <a href="#" #categories  id="cate" routerLink="/categories"  routerLinkActive="activebutton" (click)="submit()">Categories</a>

    <a href="#" #consultation id="consultation" routerLink="/consultation" routerLinkActive="activebutton"(click)="submit()"> Consultation <i class="fa fa-user-md"></i>
    </a>
    <a href="#" #consultation id="consultation" routerLink="/consultation" routerLinkActive="activebutton"(click)="submit()"> Prescription &#8478; </a>



    </nav>
  </div>
  <router-outlet></router-outlet>
  <img  class="logo" height="50"  src="https://seeklogo.com/images/P/pharmacy-logo-DF4F78C50E-seeklogo.com.png" />
  <span class="Pharmacyname">AHMENA<br>PHARMACY</span>
  <form class="search_button">
    <input class="search" type="text" placeholder="Search..">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <form class="profile" [ngSwitch]="this.UserloggedIn">
    <button type="submit"routerLink="/bestseller" routerLinkActive="activebutton"><i class="fa fa-home" style="font-size:35px ;"></i></button>

    <button type="submit" routerLink="/shoppingcart" routerLinkActive="activebutton"><i class="fa fa-shopping-cart" style="font-size:35px ;"></i></button>
    <button type="submit" *ngSwitchDefault routerLink="/registration" routerLinkActive="activebutton" ><i class="fa fa-user" style="font-size:35px ;"></i></button>

    <button type="submit" *ngSwitchCase="true" routerLink="/profile" routerLinkActive="activebutton" ><i class="fa fa-user" style="font-size:35px ;"></i></button>
    <div class="logged"style="margin-left:500px; margin-top: 30px;; color: rgb(249, 208, 24); font-family:Arial, Helvetica, sans-serif; font-size:xx-large;" [ngSwitch]="UserloggedIn">

      <pre *ngSwitchDefault style="margin-left: 140px;"> Hi User ,Sign Up /Sign In!</pre>
      <pre *ngSwitchCase="true">Hi  {{this.UserName}}
        <button  class="button" (click)="logout($event)" > Logout</button>
      </pre>


  </div>
  </form>

  <button #num id="itemsnum" class="numofitemsinshoppingcart" style="display: none;">0</button>

</div>


<router-outlet></router-outlet>
