
.bestseller{
    position: relative;
    top: 150px;
    font-size: 40px;
    color: rgb(249, 208, 24);
    font-weight: 700;
    left: 20px;
}
form.shape button {
    float: left;
    width: 20%;
    padding: 7px;
    background: none;
    color:transparent;
    font-size: 17px;
    border: none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    position: relative;
    left: 650px;
    bottom: 43px;
  }
  .text {
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    position: relative;
    left: 10px;
    top: 60px;
    padding: 0 20px;
    width: 350px;
      height: 50px;
      bottom:  10px;
    
  }
  .decoration{
    position: relative;
    color: rgb(205, 205, 205);
    left: 405px;
    font-size: 50px;
    bottom: 75px;
    font-weight: 300;
    
  }
  .info{
    position:relative;
    left: 0px;
    font-size: 17px;
    color: rgb(99, 101, 102);
  }
  .products{
border: none;
    background: none;
  }

  .img:hover{
    opacity: .7;
  }
  .decor:hover{
    opacity: .8;
  }
  .cart{
    border-radius: 10px;
    background-color: white;
    width: 120px;
    border-color:rgb(249, 208, 24) ;
    border: 100;
    font-size: 15px;
  }
  .cart:hover{
  background-color: rgb(249, 208, 24);
  }

