
    <div>
    <img height="200"  class="productimg" src={{SelectedProduct.img}}>
</div>
<div class="info">
<p class="productname">{{SelectedProduct.name}}<br></p>
<p class="category"><a class="bold">Category: </a>{{SelectedProduct.category}}<br><p class="Availability"><a class="bold">Availability: </a>In Stock</p></p>
<p class="productdescription"><a class="bold">Product Description: </a><br>{{SelectedProduct.description}}</p>
<a class="bold" >Product Rate :<br><a #rate id="stars" class="rate">{{show()}}</a></a>

<p>________________________________________________________________</p>
<div>
<p class="price"><a class="bold">Price: </a>{{SelectedProduct.price}} LE</p>
<h1 class="rateproduct">Rate Product</h1>
<div *ngIf="loggedin==1">
    <fieldset class="rating">
        <input #rating5 type="radio" id="star5" name="rating" value="5"(click)=submit_rate(rating5.value)  /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input #rating4half type="radio" id="star4half" name="rating" value="4.5" (click)=submit_rate(rating4half.value) /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input #rating4 type="radio" id="star4" name="rating" value="4" (click)=submit_rate(rating4.value)  /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input #rating3half type="radio" id="star3half" name="rating" value="3.5"(click)=submit_rate(rating3half.value)   /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input #rating3 type="radio" id="star3" name="rating" value="3"(click)=submit_rate(rating3.value)   /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input #rating2half type="radio" id="star2half" name="rating" value="2.5" (click)=submit_rate(rating2half.value) /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input #rating2 type="radio" id="star2" name="rating" value="2" (click)=submit_rate(rating2.value)  /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input #rating1half type="radio" id="star1half" name="rating" value="1.5" (click)=submit_rate(rating1half.value) /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input #rating1 type="radio" id="star1" name="rating" value="1" (click)=submit_rate(rating1.value)  /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input #ratinghalf type="radio" id="starhalf" name="rating" value=".5"(click)=submit_rate(ratinghalf.value) /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
</div>
<div *ngIf="loggedin==0">
    <div class="rates">
        <span class="tooltiptext">SignIn/SignUp Before Ratting please</span>
    <fieldset class="notrating">
        <input #rating5 type="radio" id="star5" name="rating" value="5"(click)=submit_rate(rating5.value) disabled="true"class='rate' /><label class = "full" for="star5" ></label>
        <input #rating4half type="radio" id="star4half" name="rating" value="4.5" (click)=submit_rate(rating4half.value) disabled="true" class='rate' /><label class="half" for="star4half" ></label>
        <input #rating4 type="radio" id="star4" name="rating" value="4" (click)=submit_rate(rating4.value) disabled="true" class='rate'/><label class = "full" for="star4" ></label>
        <input #rating3half type="radio" id="star3half" name="rating" value="3.5"(click)=submit_rate(rating3half.value) disabled="true" class='rate' /><label class="half" for="star3half" ></label>
        <input #rating3 type="radio" id="star3" name="rating" value="3"(click)=submit_rate(rating3.value) disabled="true" class='rate'  /><label class = "full" for="star3" ></label>
        <input #rating2half type="radio" id="star2half" name="rating" value="2.5" (click)=submit_rate(rating2half.value) disabled="true" class='rate'/><label class="half" for="star2half" ></label>
        <input #rating2 type="radio" id="star2" name="rating" value="2" (click)=submit_rate(rating2.value) disabled="true"class='rate' /><label class = "full" for="star2" ></label>
        <input #rating1half type="radio" id="star1half" name="rating" value="1.5" (click)=submit_rate(rating1half.value) disabled="true" class='rate' /><label class="half" for="star1half" ></label>
        <input #rating1 type="radio" id="star1" name="rating" value="1" (click)=submit_rate(rating1.value) disabled="true" class='rate' /><label class = "full" for="star1" ></label>
        <input #ratinghalf type="radio" id="starhalf" name="rating" value=".5"(click)=submit_rate(ratinghalf.value) disabled="true" class='rate' /><label class="half" for="starhalf" ></label>
    </fieldset>
</div>
</div>
</div>
<button  class="cart">Add to Cart</button>
