<div class="toolbar" role="banner">
  <button class="open" id="option"(click)="openNav()">&#9776;</button> 
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <nav>
    <a href="#" #categories  id="cate" routerLink="/categories"  routerLinkActive="activebutton" (click)="submit()">Categories</a> 
    <a href="#" #profile id="Profile" routerLink="/profile" routerLinkActive="activebutton"(click)="submit()"> Consultation</a>

    </nav>
  </div>
  <router-outlet></router-outlet>
  <img  class="logo" height="50"  src="https://seeklogo.com/images/P/pharmacy-logo-DF4F78C50E-seeklogo.com.png" />
  <span class="Pharmacyname">AHMENA<br>PHARMACY</span>
  <form class="search_button">
    <input class="search" type="text" placeholder="Search..">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <form class="profile">
    <button type="submit"routerLink="/bestseller" routerLinkActive="activebutton"><i class="fa fa-home" style="font-size:35px ;"></i></button>
    <button type="submit"><i class="fa fa-shopping-cart" style="font-size:35px ;"></i></button>
    <button type="submit" routerLink="/profile" routerLinkActive="activebutton" ><i class="fa fa-user" style="font-size:35px ;"></i></button>
  </form>
</div>


<router-outlet></router-outlet>
