
<app-profile></app-profile>  
<body>

<div class="main">
    <h2 class="text">My Info</h2>
  <div class="card">
    <div class="card-body">
        <i class="fa fa-pen fa-xs edit"></i>
        <table>
            <tbody>
                <tr >
                    <td class="parameters">Name</td>
                    <td>:</td> 
                    
                    

                    <td class="rcorners2">{{userdata.firstName + userdata.lastName}}</td>



                </tr>
                <tr>
                    <td class="parameters">Email</td>
                    <td>:</td>
                    <td class="rcorners2">{{userdata.email}}</td>
                </tr>
                <tr>
                    <td class="parameters">Age</td>
                    <td>:</td>
                    <td class="rcorners2">{{userdata.age}}</td>
                </tr>
                <tr>
                    <td class="parameters">Address</td>
                    <td>:</td>
                    <td class="rcorners2">{{userdata.address}}</td>
                </tr>
                <tr>
                    <td class="parameters">phone number</td>
                    <td>:</td>
                    <td class="rcorners2">{{userdata.phoneNumber}}</td>
                </tr>
            
            </tbody>
        </table>
    </div>
  </div>
  
  
  </div>
</body>
