<html>
<head>
    <link rel="stylesheet" href="categories-page.component.css" type="text/css" />
</head>

<body>
    <table id="table">
        <tr>
            <td colspan="2">
                <div class="header">Categories</div>
            </td>
           
        </tr>
        
        <tr>
            <td>
                <div #skincare id="Skin Care" routerLink="/SelectedCategory" routerLinkActive="activebutton"(click)="SendSelectedCategory(skincare.id)"class="div1" >
                    <img src="assets/Skin1.jpg" class="img" />
                    
                    <button class="btn btn1">Skin Care</button>

                    <br /><br />
                </div>
            </td>
            <td>
                <div #vitamins routerLink="/SelectedCategory" routerLinkActive="activebutton" id="Vitamins" (click)="SendSelectedCategory(vitamins.id)"class="div1">
                <img  src="assets/vitamins.jpg"class="img" />
               
                <button   class="btn btn2">Vitamins</button>
                <br /><br />
                
                </div>
            </td>
            <td>
                <div #haircare routerLink="/SelectedCategory" routerLinkActive="activebutton" id="Hair Care" (click)="SendSelectedCategory(haircare.id)"class="div1">
                <img  src="assets\hair.jpg" class="img"/>
                
                <button  class="btn ">Hair Care</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div #medication routerLink="/SelectedCategory" routerLinkActive="activebutton"id="Medication" (click)="SendSelectedCategory(medication.id)" class="div1">
                <img  src="assets\medication.jpg" class="img" />
                
                <button  class="btn ">Medication</button>
                <br /><br />
                </div>
            </td>
        </tr>
        <br /><br />
        <br /><br />



        <tr>
            <td>
                <div #Oralcare routerLink="/SelectedCategory" routerLinkActive="activebutton" id="Oral Care"(click)="SendSelectedCategory(Oralcare.id)"class="div1">
                    <img  src="assets\oral.jpg" class="img"/>
                
                 
                    
                    <button  class="btn ">Oral Care</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div #ColdAndCough routerLink="/SelectedCategory" routerLinkActive="activebutton"id="Cold and Cough" (click)="SendSelectedCategory(ColdAndCough.id)" class="div1">
                    <img src="assets\cold.jpg" class="img"/>
                
                 
                    
                    <button   class="btn ">Cold and Cough</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div #headache routerLink="/SelectedCategory" routerLinkActive="activebutton" id="Headache" (click)="SendSelectedCategory(headache.id)"class="div1">
                <img src="assets\head.jpg" class="img" />
                
                <button  class="btn ">Headache</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div #weightLoss routerLink="/SelectedCategory" routerLinkActive="activebutton" id="Weight Loss" (click)="SendSelectedCategory(weightLoss.id)" class="div1">
                <img  src="assets\weight.jpg" class="img" />
                
                <button class="btn ">Weight Loss</button>
                <br /><br />
                </div>
            </td>
          
          
        </tr>
       
        
    </table>
</body>

</html>