
<html>
<head>
    <link rel="stylesheet" href="categories-page.component.css" type="text/css" />
</head>

<body>
    <table id="table">
        <tr>
            <td colspan="2">
                <div class="header">Categories</div>
            </td>
           
        </tr>
        
        <tr>
            <td>
                <div class="div1">
                    <img src="assets/Skin1.jpg" style="width: 100%; " />
                    
                    <button class="btn btn1">Skin Care</button>

                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="assets/vitamins.jpg" style="width: 100%; " />
               
                <button class="btn btn2">Vitamins</button>
                <br /><br />
                
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="assets\medication.jpg" style="width: 100%;" />
                
                <button class="btn btn3">Medication</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="img4.png" style="width: 50%;" />
                
                <button class="btn btn4">Category 4</button>
                <br /><br />
                </div>
            </td>
        </tr>
        <br /><br />
        <br /><br />



        <tr>
            <td>
                <div class="div1">
                    <img src="img3.png" style="width: 50%;" />
                
                 
                    
                    <button class="btn btn1">Category 1</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="img2.png" style="width: 50%;" />
                
                <button class="btn btn2">Category 2</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="img3.png" style="width: 50%;" />
                
                <button class="btn btn3">Category 3</button>
                <br /><br />
                </div>
            </td>
          
        </tr>
       
        
    </table>
</body>

</html>
