
<div  class="page">
    <div *ngIf="name!=null">
    <p class="bestseller" id="categoryname" >{{name}}  </p>
</div>
    <form class="shape">
        <input class="text" type="text" disabled="true">
        </form>
        <p class="decoration">_________________________________________</p>
</div>
    <div>
        <a *ngFor="let product of bestsellerproducts">
            <a #rate id="{{product.product_id}}" class="rate">{{show(rate.id)}}</a>

<button #w id={{product.product_id}} class="products"><div class="decor"  routerLink="/aboutproduct" routerLinkActive="activebutton" (click)="aboutproduct(product.product_id,product.image,product.name,product.price,product.rate,product.type,product.description)" ><img height="200" width="200" class=" img" src={{product.image}}><p class="info" >{{product.name}}<br>{{product.price}} LE</p>
        </div><button  class="cart">Add to Cart</button>

    </button>
        </a>
    </div>
</body>

