<app-updatedata></app-updatedata>
<body>
    <div>
        <form  class="container"> 

            <label for="oldpass"  class="label" style="font-size: large; font-weight: bold; left: 50px;"><span >
            </span> Old Password :</label>
            <br>
            <br>
            
             <input #oldpass class="passwordlabel input" type="password"  data-type="password"> 
             <br>
             <br>
             

             <label for="oldpass"  class="label" style="font-size: large; font-weight: bold; left: 50px;"><span >
            </span> New Password :</label>
            <br>
            <br>
             <input #newpass class="passwordlabel input" type="password"  data-type="password">  
            
             <button (click)="getpasswords(oldpass.value,newpass.value)">OK</button>
             

            
        
        </form>
        
      </div>
    



</body>
